<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    <!-- main navbar of the website -->

    {{>navbar}}

    <!-- main header -->

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- it is my right side div -->
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <i class="fa-solid fa-person" title="Dipnashu Joshi"></i>
                        </figure>
                    </div>
                    <!-- it is my left side div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome To weather App</p>
                        <h1>I Am A <span class="diff_colour"> Mern Stack Developer </span> Youtuber And Freelancer.
                        </h1>
                        <a href="https://www.youtube.com/@itstechnicalboy" target="_blank"><button>About Me</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Now Footer Part -->
    {{>footer}}
    <!-- <script src="js/main.js"></script> -->
</body>

</html>